* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: calc(100vh - 130px);
    margin-top: 70px;
    position: relative;
}

/********************
    HEADER
********************/
header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.5rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .4);
    z-index: 10;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__logo-text {
    font-size: 2rem;
    font-weight: bold;
}

select {
    
}

.header__playgame {
    height: 2rem;
    padding: .5rem 1rem;
    border: 1px solid;
    border-radius: 5px;
    transition: all .15s linear;
}

.header__playgame:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

/********************
    FIELD
********************/
.field__container {
    background-color: #a4ec9c;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field__grid {
    height: 600px;
    width: 600px;
    border: 1px solid black;
    /* border-width: thin; */
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, .2);
}

.cell {
    background-color: lightgray;
    font-size: 12px;
    border: 1px solid black;
    display: flex;
    transition: all .1s linear;
}

.cell.active {
    background-color: lightgreen;
    color: white;
}

/********************
    FOOTER
********************/
footer {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 1rem;
}

footer span {
    font-size: 14px;
    font-weight: bold;
}

footer span a {
    color: #6ed663;
}